<%= link_to("<< Back to List",admin_users_path,:class =>'back-link') %>
<div class="admin-user index">
	<h2>Delete AdminUser</h2>
	<%= form_for(@admin,:method => 'delete') do |f| %>
	<p>Are you sure ?</p>
	<p class="reference-name"><%= @admin.name %></p>			

	<div class="form-buttons">
			<%= f.submit("Delete Submited !") %>
	</div>
	<% end %>
</div>