<%= link_to("<< Back to List",admin_users_path,:class =>'back-link') %>
<div class="subjects index">
	<h2>Edit Admin</h2>
	<%= form_for(@admin) do |f| %>
	<%= render(:partial => 'form',:locals => {:f => f }) %>
	<div class="form-buttons">
			<%= f.submit("Update Submited !") %>
	</div>
	<% end %>
</div>